ETHERSCAN_API_KEY=3Y5421HUMSUVXXXXXXXX
TESTNET_URL=https://eth-goerli.alchemyapi.io/v2/ALCHEMY_KEY
MAINNET_URL=https://eth-mainnet.alchemyapi.io/v2/ALCHEMY_KEY
DEPLOYER_PRIVATE_KEY=0xKey1
TOKEN_OWNER_PRIVATE_KEY=0xKey2
